<ion-header class="ion-no-border">
  <ion-toolbar>
    <!-- <ion-title>Cake Customs</ion-title> -->
    <ion-buttons slot="start">
      <ion-button color="white">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
  
</ion-header>

<ion-content>
  <div id="header">
    <h1>Login</h1>
    <img src="assets/Cake.png" alt="">
  </div>

  <div id="whitebg">
    <form [formGroup]="signInForm" (ngSubmit)="signInWithEmail()" id="form">
      <ion-input type="text" formControlName="email" placeholder="Email"></ion-input>
      <div class="error-container">
        <ng-container *ngFor="let validation of validation_messages.email">
          <div class="error-message" *ngIf="signInForm.get('email').hasError(validation.type) && (signInForm.get('email').dirty || signInForm.get('email').touched)">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>

      <ion-input type="password" formControlName="password" placeholder="Password" shape="round"></ion-input>
      <div class="error-container">
            <ng-container *ngFor="let validation of validation_messages.password">
              <div class="error-message" *ngIf="signInForm.get('password').hasError(validation.type) && (signInForm.get('password').dirty || signInForm.get('password').touched)">
                <ion-icon name="information-circle-outline"></ion-icon>
                <span>{{ validation.message }}</span>
              </div>
            </ng-container>
          </div>

      <div>
        <ion-button type="submit" [disabled]="!signInForm.valid" expand="block" color="tertiary" shape="round">Log In</ion-button>
      </div>
      <ion-label position="">Don't have an account? Sign up <a routerLink="/sign-up-page">here</a></ion-label>
    </form>
  </div>

</ion-content>


