<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Signup</ion-title>
    <ion-buttons slot="start" routerLink="/login">
      <ion-button color="white">
        <ion-icon slot="icon-only" name="arrow-back" ></ion-icon>
      </ion-button>
    </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="signUpForm" (ngSubmit)="signUpWithEmail()" id="form">
     
        <ion-label position="floating">Email Address: </ion-label>
        <ion-input type="text" formControlName="email" placeholder="Enter Email Address"></ion-input>
      
      <div class="error-container">
        <ng-container *ngFor="let validation of validation_messages.email">
          <div class="error-message" *ngIf="signUpForm.get('email').hasError(validation.type) && (signUpForm.get('email').dirty || signUpForm.get('email').touched)">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>
    
        <ion-label position="floating">Password: </ion-label>
        <ion-input type="password" formControlName="password" placeholder="Enter Password"></ion-input>
      
      <div class="error-container">
        <ng-container *ngFor="let validation of validation_messages.password">
          <div class="error-message" *ngIf="signUpForm.get('password').hasError(validation.type) && (signUpForm.get('password').dirty || signUpForm.get('password').touched)">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>
    
   
    
    <ion-button type="submit" expand="block" [disabled]="!signUpForm.valid" color="tertiary" shape="round">Create Account</ion-button>
    
    <ion-button fill="clear" expand="block" [routerLink]="['/login-page']">
      I already have an account.
    </ion-button>
        
    </form>    

</ion-content>
